@using InvestaMovies.Models
@model UpdateMovieViewModel

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem { Text = "G", Value = "G" });
    listItems.Add(new SelectListItem { Text = "PG", Value = "PG" });
    listItems.Add(new SelectListItem { Text = "M", Value = "M" });
    listItems.Add(new SelectListItem { Text = "MA", Value = "MA" });
    listItems.Add(new SelectListItem { Text = "R", Value = "R" });
}

<div class="panel panel-warning" id="UpdatePanel">
    <div class="panel-heading">Update Movie</div>
    <div class="panel-body">
        <form id="updateform" onsubmit="return false;">
            <div class="form-group">
                <label for="Title">Title:</label>
                @Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="pwd">Year:</label>
                @Html.TextBoxFor(c => c.YearReleased, new { @class = "form-control", @type = "number" })
            </div>
            <div class="form-group">
                <label for="usr">Rating:</label>
                @Html.DropDownListFor(c => c.Rating, listItems, new { @class = "form-control" })
            </div>
            @Html.HiddenFor(c => c.Id, new { @class = "form-control" })
            <div class="form-group">
                <div class="btn-group">
                    <button type="submit" class="btn btn-main btn-warning"><i class="fa fa-pencil fa-sm"></i> Update</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger btn-danger"><i class="fa fa-undo fa-sm"></i> Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $("#updateform").submit(function (event) {
        var url = "/Home/UpdateMovie/";
        $.ajax({
            type: "POST",
            url: url,
            data: $("#updateform").serialize(),
            success: function (data) {
                if (data.Success == true) {
                    alert(data.Message);
                    $('#moviesTable').dataTable().fnDestroy();
                    initMovieTable();
                    initAddMovie();
                }
                else {
                    alert("Something went wrong while saving movie");
                }
            }
        });
        event.preventDefault();
    });
</script>